.form-item {
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 140px;
  display: flex;
  border: 1px solid black;
  height: 40px;
}

.form-item__input {
  width: 100%;
  padding-left: 10px;
  padding-right: 40px;
  display: none;

  border: 1px solid green;
}

.form-item__icon {
  border: 1px solid green;
  position: absolute;
  pointer-events: none;
  height: 20px;
  right: 10px;
  width: 20px;
  //background-image: url(../images/Trash.svg);
  //background-size: cover;
}
